/* Component Stylesheet 
============================================================
============================================================*/
html, body {
  width: 100%;
  height: 100%;
}
html, body, div {
  margin: 0;
  padding: 0;
}
div, ul, li {
	box-sizing: border-box;
}
body {
  color: #eee;
  background-color: #292929;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
#container {
  width: 340px;
  padding: 10px;
}
.block {
  float: left;
  margin: 0 auto;
  padding: 60px;
  width: 300px;
  height: 300px;
}
/* general */
.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/* main */
.search_block {
  position: relative;
}
input[type=search] {
  box-sizing: content-box;
  margin: 0px;
  background-color: #ededed;
  padding: 9px 10px 9px 32px;
  width: 55px;
  border-radius: 20px;
  border: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 300px;
}
.search_icon {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 8px 6px;
  width: 30px;
  height: 33px;
  border-radius: 20px;
  color: #666;
  font-size: 18px;
  background-color: #8CD300;
}

.icon-search:before { 
	content: url(img/search.png);
}

