<!DOCTYPE html>
<html>
<head>
	<title>Responsive Layout: Jessica Balacy</title>

	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<div id="wrapper">
      <header>
          <nav>
              <ul>
                  <li><a href="#" title="Home">Home</a></li>
                  <li><a href="#" title="About">About</a></li>
                  <li><a href="#" title="Work">Work</a></li>
                  <li><a href="#" title="Contact">Contact</a></li>
              </ul>
          </nav>
          <div id="hero">
              <img src="img/hero-img.jpg" alt="banner" />
          </div>
      </header>	
      
      <section id="main">
          <h1>Main Content</h1>
          <p>Pork belly next level XOXO, tacos id cold-pressed delectus eu knausgaard synth asymmetrical jean shorts man bun kale chips. Photo booth franzen swag, enim yuccie velit mollit. Placeat man braid XOXO beard. Lo-fi letterpress nostrud, dolor venmo pork belly kombucha vinyl keffiyeh. Fixie helvetica polaroid, gochujang swag viral XOXO chia et freegan thundercats do sunt pork belly cornhole. Elit hoodie single-origin coffee food truck.</p>
      </section>
      
      <aside>
          <h1>Aside Content</h1>
          <p>Craft beer you probably haven't heard of them stumptown reprehenderit. Tofu pinterest pork belly distillery, kickstarter cupidatat ex qui. Selvage sapiente sustainable jean shorts, chartreuse officia kinfolk bitters shoreditch. Lumbersexual man braid ad before they sold out.</p>
      </aside>
	</div>
	<!-- End Component -->
	
</body>
</html>