<!DOCTYPE html>
<html>
<head>
	<title>Video CTA: Jessica Balacy</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<section id="cta">
		<h1>Bring your characters to life.</h1>
		<p>Experience a whole new dimension with motion.</p>
        <button>explore</button>
		<video controls autoplay muted loop poster="">
			<source src="media/sample.mp4" type="video/mp4" />
		</video>
	</section>
	<!-- End Component -->
	
</body>
</html>