<!DOCTYPE html>
<html>
<head>
	<title>Fixed Header: Jessica Balacy</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<header>
		<nav>
			<ul class="main-nav">
				<li><a href="#" class="active">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	<article>
		<h1>Scroll Down!</h1>
		<figure><img src="img/main.jpg" alt="Desk"/></figure>
		<p>Microdosing helvetica iPhone, pickled deep v poutine kitsch. DIY literally skateboard quis ramps. Selfies cronut selvage typewriter, swag fap aute. Waistcoat dreamcatcher velit readymade. Man bun shabby chic keffiyeh hoodie beard pug, excepteur laborum hella. Next level cornhole voluptate, irure master cleanse ramps hella. Gluten-free etsy adipisicing helvetica artisan.</p>

		<p>Retro vinyl ethical bicycle rights hashtag four dollar toast. Pop-up everyday carry microdosing labore bespoke sint. Beard post-ironic taxidermy dolor bespoke vero. Bitters et man bun mlkshk, culpa keytar wolf tofu. Direct trade small batch pop-up, food truck typewriter single-origin coffee banh mi 8-bit kinfolk pickled ea microdosing fingerstache. Master cleanse photo booth consectetur actually pug. Meh cupidatat nesciunt vice schlitz disrupt.</p>

		<p>Affogato pour-over aliqua, waistcoat tacos photo booth mixtape in neutra celiac consectetur synth blog labore brunch. Assumenda squid laboris, post-ironic mustache semiotics deserunt messenger bag distillery. Venmo kickstarter sint poutine retro brooklyn. Beard 3 wolf moon letterpress eiusmod, est cupidatat franzen lumbersexual do nesciunt meh selfies. Nostrud bicycle rights mumblecore, scenester delectus assumenda freegan consequat knausgaard. Direct trade typewriter chillwave pork belly non swag art party meditation, meggings fanny pack YOLO ramps dolor etsy pop-up. Pop-up exercitation eiusmod distillery, selfies biodiesel pug kale chips.</p>

		<p>Man braid letterpress tofu, selfies locavore wolf crucifix narwhal polaroid assumenda cliche. Quinoa wolf lumbersexual portland, sint hella microdosing pickled viral polaroid +1 celiac vinyl schlitz nisi. Lumbersexual occaecat gastropub green juice. Kale chips synth biodiesel, cray meggings artisan small batch chicharrones magna keffiyeh paleo truffaut. Marfa yr et, iPhone quis taxidermy pickled pop-up commodo. Retro excepteur adipisicing, gastropub consequat bitters meditation beard nesciunt shabby chic tilde sustainable truffaut. Banjo knausgaard freegan actually waistcoat.</p>
	</article>
	<!-- End Component -->
	
</body>
</html>